* {
	margin: 0;
	padding: 0;
}

body {
	background-color: darkslategrey;
}

#app {
	display: grid;
	grid-template: 
		"head head head"
		"sidebar content details"
		"sidebar footer footer";
	height: 100vh;
	grid-template-rows: 2rem 1fr 2rem;
	grid-template-columns: 200px 1fr 400px;
}

#header {
	grid-area: head;
	background-color: red;
}

#sidebar {
	grid-area: sidebar;
	background-color: purple;
}

#content {
	grid-area: content;
	background-color: blue;
	overflow-x: hidden;
}

#details {
	grid-area: details;
	background-color: lightblue;
	overflow-x: hidden;
}

#footer {
	grid-area: footer;
	background-color: grey;
}

#details #details-image {
	max-width: 300px;
	max-height: 400px;
	width: auto;
	height: auto;
}

.folder, .file {
	display: inline-block;
	width: 150px;
	height: 172px;
	overflow: hidden;
}

#content .tag.active {
	background: rgba(255, 255, 255, .8);
}
#content .tag span {
	display: block;
	overflow: hidden;
}

.tags {
	white-space: nowrap;
	overflow-x: scroll;
	height: 120px;
}

#content .tag {
	display: inline-block;
	width: 70px;
}

.folder span,
.file span,
#content .tag span {
	word-break: break-all;
}

.thumbnail {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
